<div class="container grid">
  <div class="flex heading">
    <span>ADVICE #</span>

    <span>{{ id }}</span>
  </div>
  <div class="content">
    <span>&#8220;{{ advice }}&#8221;</span>
  </div>
  <div class="flex seperator">
    <img
      [src]="
        desktopView
          ? '../assets/pattern-divider-desktop.svg'
          : '../assets/pattern-divider-mobile.svg'
      "
      alt=""
    />
  </div>

  <button (click)="getAdvice()">
    <img src="../assets/icon-dice.svg" alt="" />
  </button>
</div>
